.container {
    padding-top: 2rem;
}

#row {
    box-shadow: 0 0 5px gray;
    width: 1150px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
}

p {
    color: black;
}

#bg1 {
    background-image: url(../img/literasi.png);
    background-repeat: no-repeat;
    background-size: cover;

}
 
/* #eskul {
    box-shadow: 0 0 4px gray;
} */

#text1 {
    background-color: gray;
    margin-left: 60px;
    width: 45%;
    font-size: large;
    height: 650px;

}

#bg2 {
    background-color: #fdfccf;


}

#text2 {
    background-color: #222329;
    width: 45%;
    margin-left: 5px;
    height: 350px;
    margin-top: 100px;


}

.work {
    margin-left: 45px;
    width: 85%;
}

.think {
    margin-left: 45px;
    margin-top: 45px;

}

#crew {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 85%;
    margin-left: 60px;
}

.kami {
    margin-left: 70px;
    margin-top: 45px;
}

.p {
    margin-left: 70px;
    width: 70%;
    color: white;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.link {
    color: white;
}

.link:hover {
    transition: 0.5s;
    color: black;
}

.program {
    color: rgb(82, 82, 95);
}

#row:hover {
    transform: scale(1.1);
    transition: 0.2s;
    transition-duration: 0.5s;
}

#navbar:hover {
    color: violet;
    transition: 0.2s;
}

h6 {
    color: gray;
}

.futsal {
    width: 85%;
}
